@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.my-custom-hover {
  @apply border-[1px] p-2  border-gray-600 w-[40%] rounded-lg hover:border-blue-600 cursor-pointer transition duration-300;
}

.title-compet{
  @apply font-sans font-bold group-hover:text-blue-600 transition duration-300;
}

.para-compet{
  @apply font-body group-hover:text-blue-600 transition duration-300;
}

.test{
  
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
 
  animation: typing 3s steps(30, end);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
